:root {
  --clr-primary-100: hsl(215, 51%, 70%);
  --clr-primary-200: hsl(178, 100%, 50%);


  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(217, 54%, 11%);
  --clr-neutral-300: hsl(216, 50%, 16%);
  --clr-neutral-400: hsl(215, 32%, 27%);


  --ff-primary: 'Outfit', sans-serif;

  --fs-primary: 18px;

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;

}

body {
  background-color: var(--clr-neutral-200);
  font-family: var(--ff-primary);
  font-weight: var(--fw-300);


}

.container {

  font-family: var(--ff-primary);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

}

.inside-container {
  background-color: var(--clr-neutral-300);

  width: 18rem;
  border-radius: 00.55rem;
  padding: 1.25rem;
  width: 17rem;


}

.nft {
  width: 17rem;
  height: 17rem;
  border-radius: 0.55rem;
  z-index: -4;
}

.title {
  color: var(--clr-neutral-100);
  text-align: left;
  font-size: var(--fs-primary);
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-weight: var(--fw-600);
  letter-spacing: 1px;
  font-weight: var(--fw-600);
}

.text {
  color: var(--clr-primary-100);
  text-align: left;
  font-weight: var(--fw-300);
  padding-bottom: 1rem;
}

.number-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-neutral-400);
  padding-bottom: 1rem;

}

.price-div {
  display: flex;
  justify-content: flex-start;
}

.price {
  color: var(--clr-primary-200);
}

.days-div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

.days {
  color: var(--clr-primary-100);
}

.footnote {
  border-top: 1px;
  display: flex;
  align-items: center;

  padding-left: 0;


}

.footnote-image {
  width: 1.85rem;
  padding: 0;
  border: 1px solid white;
  border-radius: 50%;
}

.footnote-text {

  padding-left: 1rem;
  color: var(--clr-primary-100);
  font-weight: var(--fw-300);

}

a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

a:hover {
  color: var(--clr-primary-200);
}

.hover-image:hover {
  background-color:var(--clr-primary-200); 
  opacity: 60%;
  position:  relative;
  width: 17rem;
  height: 17rem;
}